/* Owl Carousel Bootstrap Custom CSS */

/* Header Navigation */
#top-nav{
	border-bottom: 0.0625rem solid #e1e6dd;
	background: #FFF;
	-webkit-transform: translateZ(0)

}
#top-nav.navbar{
	margin-bottom: 0rem;

}
#top-nav.navbar .nav{
	margin: 0.5rem 0rem;
}
	
#top-nav.navbar .nav > li > a {
	padding: 0.375rem 0.75rem;
	margin: 0rem;
	text-transform: uppercase;
	font-weight: 400;

	-webkit-transition: background-color 200ms ease;
	-moz-transition: background-color 200ms ease;
	-o-transition: background-color 200ms ease;
	transition: background-color 200ms ease;
}
#top-nav.navbar .nav > li > a.download{
	-webkit-border-radius: 0.1875rem;
	-moz-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
}

#top-nav.navbar .nav > li > a.download-on{
	background-color: #ff8a3c;
	color: #ffffff;
}
#top-nav.navbar .nav > li > a.download-on:hover{
	color: #ffffff;
	background-color: #ff7920;
}
.btn-navbar span.icon-bar{
	margin-top: 0rem;
}

/* Header  */

#header{
	background: #f1f1f1;
	padding: 6.25rem 0 6.25rem;
}
#header h1{
	color: #7fc242;
	margin-bottom: 0.625rem;
	margin-top: 2.5rem;
}
#header h3{
	margin-bottom: 1.875rem;
	width: 25rem;
}
#header .btn-success {
	padding: 0.9375rem 1.875rem;
	margin-bottom: 0.3125rem;
}
#header .logo{
	display: block;
	margin-top:3.75rem;
	float: right
}
img.arrow-down{
	margin: 0 auto;
	display: block;
}
h1{
	margin-top: 5rem;
}

pre.pre-show{
	margin: 2.5rem 0rem;

}
.tab-content pre.pre-show{
	margin: 0rem 0rem 0rem 0rem;
}
.nav-tabs{
	margin-top: 1.25rem;
	margin-bottom: 0rem;
	
}
.tab-content{
	border-left: 0.0625rem solid #ddd;
	border-right: 0.0625rem solid #ddd;
	border-bottom: 0.0625rem solid #ddd;
	-webkit-border-radius: 0rem 0rem 0.25rem 0.25rem;
	-moz-border-radius: 0rem 0rem 0.25rem 0.25rem;
	border-radius: 0rem 0rem 0.25rem 0.25rem;
	
}
/* Content */
.table th, .table td {
padding: 0.5rem 0.75rem;
}

/* Footer */

#footer{
	padding: 1.25rem 0rem;
	background: #f3f3f3;
	text-align: center
}
.twitter-share-button{
	top: 0.25rem;
	position: relative;
}

/* Demo Slides */

#owl-example .item{
	padding: 1.875rem 0rem;
	margin: 0.625rem;
	color: #FFF;
	-webkit-border-radius: 0.1875rem;
	-moz-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
	text-align: center;
}
#owl-example .item img{
	width: auto;
	margin: 0 auto;
	display: block;
}
#owl-example .item h3{
	font-size: 1.75rem;
	font-weight: 300;
	margin: 1.5625rem 0 0;
}
#owl-example .item h4{
	margin: 0.3125rem 0 0;
	font-size: 1.125rem;
}
.item h1{
	margin: inherit;
}

.orange{
	background: #ff8a3c;
}
.darkCyan{
	background: #42bdc2;
}
.forestGreen{
	background: #7fc242;
}
.yellow {
	background: #ffd800;
}
.dodgerBlue {
	background: #388bd1;
}
.skyBlue {
	background: #a1def8;
}
.zombieGreen {
	background: #3fbf79;
}
.violet {
	background: #db6ac5;
}
.yellowLight {
	background: #fee664;
}
.steelGray {
	background: #cad3d0;
}

/* More Demo Box */

#example-info h1,
#more h1{
	margin-top: 2.5rem;
}
.demos-row{
	margin-top: 1.875rem;
	margin-bottom: 1.875rem;
}
.demo-page{
	margin-top: 0rem;
	margin-bottom: 6.25rem;
}
.demo-box{
	display: block;
	background: #f3f3f3;
	text-align: center;
	font-size: 1.125rem;
	-webkit-border-radius: 0.1875rem;
	-moz-border-radius: 0.1875rem;
	border-radius: 0.1875rem;
}
.demo-box h3{
	padding-bottom:1.25rem;
	margin: 0rem;
	color: #869690;
}
.demo-box:hover{
	text-decoration: none;
}
.demo-wrapper{
	padding: 1.875rem 0rem 1.25rem 0rem;
	padding-left: 1.875rem;
	padding-right: 1.875rem;
}
.demo-slide {
	float: left;
}
.demo-slide .bg{
	background: #aebab6;
	margin-right: 0.0625rem;
	height: 100%;
}
.demo-box:hover .demo-slide .bg{
	background: #7fc242;
}
/* Images */
.demo-images .demo-slide{
	height: 2.5rem;
	width: 33.3333333%;
}

/* Full */
.demo-full {
	padding-left: 0rem;
	padding-right: 0rem;
}
.demo-full .demo-slide{
	height: 2.5rem;
	width: 25%;
}

/* Custom */
.demo-custom .demo-slide{
	height: 2.5rem;
	width: 10%;
}
/* One */
.demo-one .demo-slide{
	height: 2.5rem;
	width: 100%;
}

/* json */

.demo-Json .demo-slide {
	height: 2.5rem;
	width: 20%;
}
.demo-Json-custom .demo-slide{
	height: 2.5rem;
	width: 33.3333333%;
}
/* loading icon */

.demo-lazy .demo-slide{
	height: 2.5rem;
	width: 33.3333333%;
}
.demo-lazy .demo-slide .bg{
background: url('../img/AjaxLoader.gif') no-repeat center center #aebab6;
}

/* Auto Height */
.demo-height .demo-slide{
	height: 2.5rem;
	width: 100%;
}

/* Changelog  */
#changelog{
	margin-bottom: 2.5rem;
}
#changelog .label{
	margin-bottom:0.625rem;
}
#changelog .log{
	margin-bottom: 1.875rem;
	padding-bottom: 1.875rem;
	border-bottom: 0.0625rem solid #e1e6dd;
}
/* Faq */
#faq dt {
	line-height: 1.625rem;
}
#faq dd{
	line-height: 1.375rem;
	margin-bottom: 1.25rem;
}



/* Responsive Stuff */


@media (max-width: 61.1875rem) {
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	padding: 0rem;
	}
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: fixed;
	}
}
@media (max-width: 48rem) {
	.navbar.navbar-fixed-top{
		position: static;
	}
	.btn.btn-navbar{
		margin: 0.5625rem 1.25rem 0.5625rem 0.5rem;
		padding: 0.625rem 0.625rem;
	}
	.nav-collapse .nav > li{
		border-top: 0.0625rem solid #e1e6dd;
		text-align: center
	}
	#header .logo{
		margin-top:2.5rem;
		margin: 1.25rem auto 0rem;
		float: none;
		height: 9.375rem;
	}
	#header {
		text-align: center;
		padding: 3.75rem 0rem 1.875rem;
	}
	#header h1{
		margin: 0.625rem 0;
	}
	#header h3{
	margin-bottom: 0.625rem;
	width: auto;
	padding: 0rem 1.25rem;
	}
	h1 {
		font-size: 2.375rem;
		margin: 1.25rem 0;
	}
	h2 {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 1.25rem;
	}
	h4 {
		font-size: 1rem;
	}
	h5 {
		font-size: 0.8125rem;
	}
	h6 {
		font-size: 0.75rem;
	}

}


@media (max-width: 30rem) {
	.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
	}
	#header {
		text-align: center;
		padding: 1.25rem 0rem 1.25rem;
	}
	#header .logo{
		margin-top:0rem;
	}

}

/*
NO MORE TABLES!! ;)
*/
@media (max-width: 47.9375rem) {

	.hp-table table, .hp-table thead, .hp-table .hp-table tbody, .hp-table th, .hp-table td, .hp-table tr { 
		display: block; 
	}
	.hp-table thead tr { 
		display: none;
	}
	.hp-table tr { border: 0rem solid #ccc; margin-bottom: 0.625rem; }
	
	.hp-table td:before { 
		top: 0.375rem;
		left: 0.375rem;
		width: 45%; 
		padding-right: 0.625rem; 
		white-space: nowrap;
	}

	.hp-table td:nth-of-type(2):before { 
		content: "Default:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(3):before { 
		content: "Type:";
		font-weight: bold;
	}
	.hp-table td:nth-of-type(4):before { 
		content: "Description:";
		font-weight: bold;
	}
}










