<IfModule mod_headers.c>
  Header set X-Content-Type-Options "nosniff"
  Header set X-Frame-Options "SAMEORIGIN"
  Header set Referrer-Policy "strict-origin-when-cross-origin"
  Header set Content-Security-Policy "default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' maxcdn.bootstrapcdn.com cdn.ywxi.net translate.google.com www.google-analytics.com ajax.googleapis.com mc.yandex.ru zc1.maillist-manage.in oss.maxcdn.com www.googletagmanager.com code.jquery.com cdnjs.cloudflare.com platform.twitter.com cdn.trustedsite.com; style-src 'self' 'unsafe-inline' maxcdn.bootstrapcdn.com webfonts.zohostatic.in themes.googleusercontent.com; img-src 'self' data: upload.wikimedia.org www.paypalobjects.com mc.yandex.ru i.creativecommons.org rosssimmonds.com *.google.com *.google.co.in *.gstatic.com; font-src 'self' maxcdn.bootstrapcdn.com webfonts.zohostatic.in themes.googleusercontent.com; connect-src 'self' mc.yandex.ru www.google-analytics.com stats.g.doubleclick.net cdn.ywxi.net translate.googleapis.com; frame-src 'self' zc1.maillist-manage.in docs.google.com www.google.com;"
</IfModule>

RewriteEngine on
RewriteCond %{HTTP_HOST} themoonexports\.com [NC]
RewriteCond %{SERVER_PORT} 80
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^(.*)$ https://www.themoonexports.com/$1 [R,L]
RewriteCond %{HTTP_HOST} ^www\.themoonexports\.com$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/.+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^buffalo\-horn\-bowls\.html$ "https\:\/\/www\.etsy\.com\/listing\/652950006\/genuine\-buffalo\-horn\-beautiful\-palm" [R=302,L]

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php71” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php71___lsphp .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
